<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   	<session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)))</property>
        <property name="connection.username">coffeeshop</property>
        <property name="connection.password">coffeeshop</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup
        <property name="hbm2ddl.auto">validate</property> -->

		<mapping class="mpp.course.spring2017.project.coffeeshop.model.Account"></mapping>
		<mapping class="mpp.course.spring2017.project.coffeeshop.model.BeverageSize"></mapping>
		<mapping class="mpp.course.spring2017.project.coffeeshop.model.BeverageSizePrice"></mapping>
		<mapping class="mpp.course.spring2017.project.coffeeshop.model.CustomerOrder"></mapping>
		<mapping class="mpp.course.spring2017.project.coffeeshop.model.Employee"></mapping>
		<mapping class="mpp.course.spring2017.project.coffeeshop.model.OrderLine"></mapping>
		<mapping class="mpp.course.spring2017.project.coffeeshop.model.Product"></mapping>
		<mapping class="mpp.course.spring2017.project.coffeeshop.model.ProductCatelogy"></mapping>
		<mapping class="mpp.course.spring2017.project.coffeeshop.model.Role"></mapping>
		<mapping class="mpp.course.spring2017.project.coffeeshop.model.Token"></mapping>
	</session-factory>
</hibernate-configuration>